*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Roboto", 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(31, 17, 65);
    color: white;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 0;
}